<!-- banner start -->
<div class="banner-area banner-area-3 bg-black">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-10">
        <div class="thumb b-animate-thumb">
          <img src="/assets/front/img/banner/3.png" alt="img">
        </div>
      </div>
      <div class="col-lg-7 align-self-center mt-5 mt-lg-0">
        <div class="banner-inner style-white text-center text-lg-left">
          <h6 class="b-animate-1 banner-btn">PLACE TO GROW</h6>
          <h1 class="b-animate-2 title">Discover Premium Products Online</h1>
          <a class="btn btn-base b-animate-3 mr-sm-3 mr-2" href="blog.html">Shop now</a>
          <a class="btn btn-border-white b-animate-3" href="blog.html">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner end -->
