<!-- navbar start -->
<div class="navbar-area">
  <nav class="navbar navbar-area-3 navbar-area navbar-expand-lg">
    <div class="container nav-container">
      <div class="responsive-mobile-menu">
        <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-left"></span>
          <span class="icon-right"></span>
        </button>
      </div>
      <div class="logo">
        <a href="index.html"><img src="/assets/front/img/logo-2.png" alt="img"></a>
      </div>
      <div class="nav-right-part nav-right-part-mobile">
        <a class="btn btn-base" href="signup.html">Sign Up</a>
      </div>
      <div class="collapse navbar-collapse" id="edumint_main_menu">
        <ul class="navbar-nav menu-open">
          <li class="menu-item-has-children current-menu-item">
            <a href="#">Home</a>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Course</a>
            <ul class="sub-menu">
              <li><a href="course.html">Course</a></li>
              <li><a href="course-details.html">Course Single</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Pages</a>
            <ul class="sub-menu">
              <li><a href="about.html">About Us</a></li>
              <li><a href="event.html">Event</a></li>
              <li><a href="event-details.html">Event Details</a></li>
              <li><a href="team.html">Instructor</a></li>
              <li><a href="team-details.html">Instructor Details</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="signin.html">Sign In</a></li>
              <li><a href="signup.html">Sign Up</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="#">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-grid.html">Blog Grid</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="nav-right-part nav-right-part-desktop style-black">
        <div class="emt-phone-wrap">
          <div class="emt-phone">
            <i class="fa fa-phone"></i>
            <div class="phone-number align-self-center">
              Call Us <br>
              <span>860 -272 -9738</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<!-- navbar end -->
